.page {
  background-color: #000;
  color: #c7c7c7;
  font-size: 18px;
  font-family: "manrope", sans-serif;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 24px 60px;
}

.logo {
  font-family: "Bebas Nueue", sans-serif;
  font-size: 32px;
  color: #c7c7c7;
  margin: 0;
}

.nav__links {
  display: flex;
  list-style-type: none;
  column-gap: 20px;
  margin: 0;
}

.nav__link {
  font-family: "Manrope";
  font-size: 16px;
  text-decoration: none;
  color: #c7c7c7;
}
.header__title {
  font-family: "Bebas Nueue", sans-serif;
  font-size: 101px;
  color: #fff;
  font-weight: 400;
  line-height: 90px;
  margin: 0 0 8px;
}

.header__span-break {
  display: block;
}

.header__intro-block {
  max-width: 585px;
  margin: 286px 0 0 108px;
}
.header__intro-text {
  margin: 0 0 40px 0;
}

.header__contact-button {
  background-color: #d3e97a;
  font: #000;
  font-size: 16px;
  font-weight: bold;
  border-radius: 100px;
  border: 0;
  padding: 0 45px;
  height: 54px;
}

.header__linkedin-button {
  background-image: url(../images/header_linkedin.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  height: 54px;
  width: 54px;
  border-radius: 100px;
  background-color: #222;
}

.header__headshot {
  position: absolute;
  max-width: 515px;
  border-radius: 16px;
  border: none;
  right: 108px;
  top: 126px;
  z-index: -1;
}
